<section>

    <div class="header">
        <img src="images/google-icon.png" alt="Imagen de un twimp">
        <a href="www.campusmvp.es">by David</a>
        <div class="date">Published on 01/01/1970</div>
    </div>

    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur sodales libero, sit amet posuere arcu
        consectetur
        ut. Nam volutpat ligula ac nunc consectetur vestibulum.
    </div>

    <hr class="line">

    <div class="fav">
        <button class="icon icon-selected">&#10084;</button>
    </div>

</section>
